websocketd
htdocs/modules/*
!htdocs/modules/Home
!htdocs/modules/Settings
htdocs/modules/Home/assets/less/cache/*
htdocs/modules/Settings/assets/less/cache/*
htdocs/assets/less/compiled/*
htdocs/assets/js/compiled/*
htdocs/assets/css/compiled/*
htdocs/assets/js/jsphpg_*.js
