htdocs/modules/*
!htdocs/modules/Widgets
!htdocs/modules/Home
!htdocs/modules/Settings
!htdocs/modules/Ucptour
htdocs/modules/Home/assets/less/cache/*
htdocs/modules/Settings/assets/less/cache/*
htdocs/assets/less/compiled/*
htdocs/assets/js/compiled/*
htdocs/assets/css/compiled/*
htdocs/assets/js/jsphpg_*.js
module.sig
node/logs
node/node_modules
npm-debug.log
node/package-lock.json
