<module>
	<rawname>ucp</rawname>
	<name>User Control Panel</name>
	<repo>standard</repo>
	<version>12.0.0beta13</version>
	<publisher>FreePBX</publisher>
	<license>AGPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/agpl-3.0.txt</licenselink>
	<description>
		Formerly ARI, now called User Control Panel
	</description>
	<changelog>
		*12.0.0beta13* Expire all user sessions on upgrade (which forces a logout from now on)
		*12.0.0beta12* Logout user is poller is forbidden, small visual tweaks
		*12.0.0beta11* Scroll Bar removal if not needed.
		*12.0.0beta10* Visual consistencies between firefox and chrome
		*12.0.0beta9* Call the hook using username instead of userid
		*12.0.0beta8* Standardization in presence menu items
		*12.0.0beta7* Added the hooks required for Webrtc type modules
		*12.0.0beta6* Allow multiple options per module
		*12.0.0beta5* Show settings on user creation
		*12.0.0beta4* Many enhancements to the visuals, moved presence states, etc
		*12.0.0beta3* Dont die when a module or UCP is disabled in FreePBX
		*12.0.0beta2* Regression from 2.11
		*12.0.0beta1* Bump to Beta
		*12.0.0alpha8* Remove some dev work
		*12.0.0alpha7* Several Additions and features (yes again) also bump version requirements
		*12.0.0alpha6* Several Additions and Features, see commit log
		*12.0.0alpha5* Now using usermanager
		*12.0.0alpha2* Stage 1 Completed. Completely modular and object orientated
		*12.0.0alpha1* Lets get some structure in there and figure this all out
	</changelog>
	<category>Admin</category>
	<menuitems>
		<ucptab
			category="User Panel"
			href="/ucp"
			target="ucp"
			access="all"
			requires_auth="false"
			>UCP</ucptab>
	</menuitems>
	<fileinclude>
	    <install>install.inc.php</install>
	</fileinclude>
	<supported>
		<version>12.0</version>
	</supported>
	<depends>
		<phpversion>5.3.3</phpversion>
		<module>userman ge 2.11.6</module>
		<module>core ge 12.0.1alpha25</module>
		<version>12.0.1alpha52</version>
	</depends>
</module>
