<module>
	<rawname>ucp</rawname>
	<name>User Control Panel</name>
	<repo>standard</repo>
	<version>14.0.1alpha11</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>AGPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/agpl-3.0.txt</licenselink>
	<description>
		The user control panel is a way for users to control call handling and personal settings from a web browser.
	</description>
	<changelog>
		*14.0.1alpha1* Initial Release
	</changelog>
	<category>Admin</category>
	<menuitems>
		<ucptab access="all" category="User Panel" href="/ucp" requires_auth="false" target="ucp">UCP</ucptab>
	</menuitems>
	<fileinclude>
	    <install>install.inc.php</install>
	</fileinclude>
	<supported>
		<version>14.0</version>
	</supported>
	<hooks>
		<userman class="Userman" namespace="FreePBX\modules">
			<method callingMethod="delGroup" class="Ucp">delGroup</method>
			<method callingMethod="addGroup" class="Ucp">addGroup</method>
			<method callingMethod="updateGroup" class="Ucp">updateGroup</method>
			<method callingMethod="delUser" class="Ucp">delUser</method>
			<method callingMethod="addUser" class="Ucp">addUser</method>
			<method callingMethod="updateUser" class="Ucp">updateUser</method>
			<method callingMethod="sendWelcomeEmail" class="Ucp">usermanSendEmail</method>
			<method callingMethod="myShowPage" class="Ucp">usermanShowPage</method>
		</userman>
		<framework class="Chown" namespace="FreePBX\Console\Command">
			<method callingMethod="fwcChownFiles" class="Ucp">chownFreepbx</method>
		</framework>
	</hooks>
	<depends>
		<phpversion>5.3.3</phpversion>
		<module>userman ge 13.0.35</module>
		<module>core ge 12.0.1alpha25</module>
		<version>14.0.1alpha14</version>
	</depends>
</module>
