<module>
	<rawname>ucp</rawname>
	<name>User Control Panel</name>
	<repo>standard</repo>
	<version>12.0.22</version>
	<publisher>FreePBX</publisher>
	<license>AGPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/agpl-3.0.txt</licenselink>
	<description>
		Formerly ARI, now called User Control Panel
	</description>
	<changelog>
		*12.0.22* Localization fixes
		*12.0.21* Language adjustments
		*12.0.20* Block extra menu loads FREEPBX-9028
		*12.0.19* Base language fixes, ask Framework first
		*12.0.18* FREEPBX-9112 UCP Subsections need to support localization
		*12.0.17* Regression from sysadmin for UCP ports
		*12.0.16* FREEPBX-9077 UCP Forgot password does not send reset link
		*12.0.15* FREEPBX-8999 Dont process the page if user is null
		*12.0.14* Fix language settings
		*12.0.13* FREEPBX-8829 Allow username changing in UCP
		*12.0.12* Styling updates
		*12.0.11* Language selections are done in boostrap now
		*12.0.10* FREEPBX-8489 Allow setting different RSS feeds for UCP only in Advanced Settings
		*12.0.9* FREEPBX-8784 UCP Extension, Settings and Voicemail List Limited
		*12.0.8* Use better userman setting for detecting settings
		*12.0.7* If RSS feeds are null dont show anything in home, for now
		*12.0.6* Update tokenizer for FREEPBX-8275
		*12.0.5* Allow language selection in UCP
		*12.0.4* Better localization awareness
		*12.0.3* Localization updates
		*12.0.2* 0 prefixed extensions fix
		*12.0.1 Unbeta. Go Stable moving forward.
		*12.0.0beta48* Better formatting in emails
		*12.0.0beta47* IP level restriction based unlock
		*12.0.0beta46* FREEPBX-8321 touch icon for apple, android devices
		*12.0.0beta45* Performance improvements
		*12.0.0beta44* Reset link modification
		*12.0.0beta43* Forgotten password reset ability
		*12.0.0beta42* FREEPBX-8131 add all userman fields into settings so user can control them, also cleanup dialog look
		*12.0.0beta41* FREEPBX-8434 Also enable WebRTC and Originate Calls when using command line enableall
		*12.0.0beta40* Add callback to closeDialog
		*12.0.0beta39* Support for Contact Manager
		*12.0.0beta38* Readjust menu if icons are missing or added
		*12.0.0beta37* FREEPBX-8226 Names don't show up on virtual extensions in UCP
		*12.0.0beta36* Mobile detection class added for mobile and tablet specific things
		*12.0.0beta35* Fix cog dropdown items and speed up RSS feeds by adding a timeout.
		*12.0.0beta34* Support for auto complete lib and new class module
		*12.0.0beta33* Close menu when clicked on
		*12.0.0beta32* Captialize Module object
		*12.0.0beta31* Wrong method name
		*12.0.0beta30* Use proper 12 hooking into usermanager
		*12.0.0beta29* Fix null token issue
		*12.0.0beta28* Replace font, add texture, more socket work (future)
		*12.0.0beta27* Added new fonts package, more websocket work
		*12.0.0beta26* Add more loading screens
		*12.0.0beta25* Remove framework assets dir. Not used. Not needed
		*12.0.0beta24* FREEPBX-8063 UCP Refresh Assets on install and reload
		*12.0.0beta23* Remove UCP daemon status from dashboard for now
		*12.0.0beta22* Prevent browser lockups by closing the session
		*12.0.0beta21* Require framework 22
		*12.0.0beta20* Redux on the nav bar, more mobile looking functionality
		*12.0.0beta19* Eliminate message backup issues with buffering
		*12.0.0beta18* Fix for double click issue
		*12.0.0beta17* Fixes for Safari
		*12.0.0beta16* Enable presence as well in enableall
		*12.0.0beta15* Minor bug in enableall command
		*12.0.0beta14* FREEPBX-7845 UCP and User Management settings
		*12.0.0beta13* Expire all user sessions on upgrade (which forces a logout from now on)
		*12.0.0beta12* Logout user is poller is forbidden, small visual tweaks
		*12.0.0beta11* Scroll Bar removal if not needed.
		*12.0.0beta10* Visual consistencies between firefox and chrome
		*12.0.0beta9* Call the hook using username instead of userid
		*12.0.0beta8* Standardization in presence menu items
		*12.0.0beta7* Added the hooks required for Webrtc type modules
		*12.0.0beta6* Allow multiple options per module
		*12.0.0beta5* Show settings on user creation
		*12.0.0beta4* Many enhancements to the visuals, moved presence states, etc
		*12.0.0beta3* Dont die when a module or UCP is disabled in FreePBX
		*12.0.0beta2* Regression from 2.11
		*12.0.0beta1* Bump to Beta
		*12.0.0alpha8* Remove some dev work
		*12.0.0alpha7* Several Additions and features (yes again) also bump version requirements
		*12.0.0alpha6* Several Additions and Features, see commit log
		*12.0.0alpha5* Now using usermanager
		*12.0.0alpha2* Stage 1 Completed. Completely modular and object orientated
		*12.0.0alpha1* Lets get some structure in there and figure this all out
	</changelog>
	<category>Admin</category>
	<menuitems>
		<ucptab
			category="User Panel"
			href="/ucp"
			target="ucp"
			access="all"
			requires_auth="false"
			>UCP</ucptab>
	</menuitems>
	<fileinclude>
	    <install>install.inc.php</install>
	</fileinclude>
	<supported>
		<version>12.0</version>
	</supported>
	<hooks>
		<userman namespace="FreePBX\modules" class="Userman">
			<method class="Ucp" callingMethod="delUser">usermanDelUser</method>
			<method class="Ucp" callingMethod="addUser">usermanAddUser</method>
			<method class="Ucp" callingMethod="updateUser">usermanUpdateUser</method>
			<method class="Ucp" callingMethod="sendWelcomeEmail">usermanSendEmail</method>
			<method class="Ucp" callingMethod="myShowPage">usermanShowPage</method>
		</userman>
	</hooks>
	<depends>
		<phpversion>5.3.3</phpversion>
		<module>userman ge 12.0.26</module>
		<module>core ge 12.0.23</module>
		<version>12.0.57</version>
	</depends>
</module>
